<ion-view title="New Item">
  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Expense Name</span>
        <input type="text" placeholder="ie Beer, Pizza">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Total Cost</span>
        <input type="text" placeholder="$100">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">When</span>
        <input type="text" placeholder="Today">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Who Paid?</span>
        <input type="text" placeholder="John">
      </label>
    </div>
    <h2>Who paid for this?</h2>
    <ul class="list">
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Check All
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Name
      </li>
    </ul>

  </ion-content>
</ion-view>
